.testimoniCard {
  display: flex;
  flex-direction: column;
  gap: get-spacing('spacing-xl');
  border-radius: rem-calc(10);
  padding: get-spacing('spacing-xl');
  width: rem-calc(302);
  border: 2px solid transparent;
  background-color: get-color('neutral', 500);

  @include md {
    gap: get-spacing('spacing-2xl');
    padding: get-spacing('spacing-2xl');
    width: rem-calc(500);
  }

  .testimoniCardHeader {
    display: flex;
    align-items: center;
    gap: rem-calc(10);

    img {
      width: rem-calc(48);
      height: rem-calc(48);
      border-radius: 50%;
    }

    .name {
      @include typography('text-sm', 'bold');
      color: get-color('neutral', 200);

      @include md {
        @include typography('text-md', 'bold');
      }
    }

    .position {
      @include typography('text-sm', 'regular');
      color: get-color('neutral', 200);
    }
  }
}

.testimoni {
  @include typography('text-sm', 'regular');
  color: get-color('neutral', 200);

  @include md {
    @include typography('text-md', 'regular');
  }
}
