main {
  overflow: hidden;
}

.hero {
  // position: relative;
  // min-height: rem-calc(620);
  position: relative;
  display: flex;
  align-items: center;
  padding-top: rem-calc(70);
  padding-bottom: rem-calc(126);

  @include md {
    min-height: rem-calc(1000);
    // padding-top: rem-calc(113);
    // padding-bottom: rem-calc(26);
  }

  &::before {
    content: '';
    background-image: url(../../assets/hero-grid-decoration.png);
    opacity: 0.5;
    top: -12.5rem;
    left: 0;
    width: 100%;
    height: calc(100% + 12.5rem);
    position: absolute;
    background-repeat: repeat;
    background-size: 10%;
    z-index: -1;
  }

  &::after {
    content: '';
    background-image: url(../../assets/hero-circle-decoration.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 25%;
    z-index: -2;
    top: 0;
    left: 0;
  }

  .overflowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: rem-calc(24);
    z-index: 5;

    &::before {
      content: '';
      background-image: url(../../assets/header-ellipse-decoration.svg);
      background-repeat: no-repeat;
      position: absolute;
      background-size: contain;
      width: 74.375rem;
      height: 101.5rem;
      transform: translate(46%);
      top: -7.8125rem;
    }
  }

  .labelName {
    @include typography('text-md', 'medium');
    width: fit-content;
    border-radius: get-radius('radius-full');
    margin: 0 auto;
    padding: rem-calc(8) rem-calc(16);
    border: 1px solid transparent;
    background-image: linear-gradient(black, black),
      linear-gradient(to right, #dc49a6, #8746eb);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 4px 24px rgba(135, 70, 235, 0.32);

    @include md {
      padding: rem-calc(8) rem-calc(24);
    }
  }

  .title {
    @include typography('display-xl', 'bold');
    line-height: get-spacing('display-xl');

    @include md {
      @include typography('display-3xl', 'extrabold');
      line-height: get-spacing('display-3xl');
    }

    .box {
      padding: rem-calc(0) rem-calc(6);
      position: relative;
      display: inline-block;
      border: 2px solid transparent;
      background-image: linear-gradient(black, black),
        linear-gradient(to right, #dc49a6, #8746eb);
      background-origin: border-box;
      background-clip: padding-box, border-box;
      margin: rem-calc(4);

      &::before {
        content: '';
        position: absolute;
        width: rem-calc(10);
        height: rem-calc(10);
        top: -5px;
        left: -5px;
        border-radius: get-radius('radius-full');
        background: get-color('neutral', 100);
      }

      &::after {
        content: '';
        position: absolute;
        width: rem-calc(10);
        height: rem-calc(10);
        bottom: -5px;
        right: -5px;
        border-radius: get-radius('radius-full');
        background: get-color('neutral', 100);
      }

      .boxText {
        background: #dc49a6;
        background: linear-gradient(to right, #dc49a6 0%, #8746eb 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .cornerTopRight {
        position: absolute;
        width: rem-calc(10);
        height: rem-calc(10);
        top: -5px;
        right: -5px;
        border-radius: get-radius('radius-full');
        background: get-color('neutral', 100);
      }

      .cornerBottomLeft {
        position: absolute;
        width: rem-calc(10);
        height: rem-calc(10);
        bottom: -5px;
        left: -5px;
        border-radius: get-radius('radius-full');
        background: get-color('neutral', 100);
      }
    }
  }

  .description {
    @include typography('text-sm', 'regular');
    line-height: get-spacing('text-sm');
    color: get-color('neutral', 200);

    .experience {
      color: get-color('neutral', 100);
      @include typography('text-md', 'semibold');
    }

    @include md {
      @include typography('text-md', 'regular');
    }
  }

  .btnHero {
    width: 100%;

    @include md {
      width: fit-content;
    }
  }
}
