.faqItem {
  overflow: hidden;
  position: relative;

  .borderAnimation {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    border-radius: rem-calc(16);
  }

  .faq {
    position: relative;
    background-color: get-color('neutral', 500);
    border-radius: rem-calc(16);
    overflow: hidden;

    .faqHeader {
      user-select: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      .faqQuestion {
        @include typography('text-md', 'semibold');
        color: get-color('neutral', 200);
        padding-right: get;
      }

      .faqIcon {
        margin-left: auto;
      }
    }

    .faqDetail {
      color: get-color('neutral', 200);
      @include typography('text-sm', 'regular');

      @include md {
        @include typography('text-sm', 'regular');
      }
    }

    .faqAnswer {
      padding: rem-calc(0) rem-calc(16) rem-calc(16);

      include md {
        padding: 0 rem-calc(24);
      }
    }
  }
}
