.faqItem {
  overflow: hidden;
  position: relative;

  .borderAnimation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    border-radius: rem-calc(16);
  }

  .faq {
    position: relative;
    background-color: get-color('neutral', 500);
    border-radius: rem-calc(16);
    overflow: hidden;

    // &.expand {
    //   border: 2px solid transparent;
    //   background-image: linear-gradient(black, black),
    //     linear-gradient(to right, #e96cf3, #8746eb);
    //   background-origin: border-box;
    //   background-clip: padding-box, border-box;
    // }

    .faqHeader {
      user-select: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      .faqQuestion {
        padding-right: rem-calc(24);
        color: get-color('neutral', 100);
        @include typography('text-md', 'semibold');

        @include md {
          @include typography('text-xl', 'semibold');
        }
      }

      .faqIcon {
        margin-left: auto;
      }
    }

    .faqDetail {
      color: get-color('neutral', 200);
      @include typography('text-sm', 'regular');

      @include md {
        @include typography('text-md', 'regular');
      }

      .faqAnswer {
        padding: 0 rem-calc(16) rem-calc(16) rem-calc(16);

        @include md {
          padding: 0 rem-calc(24) rem-calc(24) rem-calc(24);
        }
      }
    }
  }
}
