.journeyDescription {
  color: get-color('neutral', 200);
  display: flex;
  gap: rem-calc(8);
  @include typography('text-sm', 'regular');

  @include md {
    @include typography('text-md', 'regular');
  }
  .dot {
    width: rem-calc(4);
    height: rem-calc(4);
    border-radius: 50%;
    gap: rem-calc(8);
    background-color: get-color('neutral', 200);
    margin-top: rem-calc(12);
    transform: translateY(-50%);
    @include md {
      margin-top: rem-calc(15);
    }
  }
}
