.achievement {
  margin-top: rem-calc(80);
  display: flex;
  flex-direction: column;
  gap: rem-calc(80);

  .achievementListWrap {
    display: flex;
    gap: rem-calc(12);
    flex-wrap: wrap;

    @include md {
      gap: rem-calc(20);
    }

    .achievementList {
      flex: 1 0 40%;

      @include md {
        flex: 1;
      }
    }
  }
  .achievementTxt {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    justify-content: space-between;

    @include md {
      flex-direction: row;
    }

    .achievementTitle {
      @include typography('display-sm', 'extrabold');
      line-height: get-spacing('display-sm');

      @include md {
        @include typography('display-2xl', 'extrabold');
        line-height: get-spacing('display-2xl');
      }
    }

    .description {
      @include typography('text-sm', 'regular');
      line-height: get-spacing('text-sm');
      color: get-color('neutral', 200);

      @include md {
        @include typography('text-md', 'regular');
        line-height: get-spacing('text-md');
        max-width: rem-calc(700);
      }

      .experience {
        @include typography('text-sm', 'bold');
        color: get-color('neutral', 100);
      }
    }
  }
}
