// Variabel warna
$gradient-color: linear-gradient(90deg, #dc49a6, #8746eb);
$background-color: #1e1e1e;

.skill-container {
  display: flex;
  flex-direction: column;
  margin-bottom: get-spacing('spacing-3xl');
}
.skill-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: get-spacing('spacing-sm');

  .skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem-calc(4);

    span {
      @include typography('text-sm', 'semibold');
      color: get-color('neutral', 100);
    }

    @include md {
      span {
        @include typography('text-md', 'semibold');
        color: get-color('neutral', 100);
      }
    }
  }

  .progress-container {
    width: 100%;
    height: rem-calc(12);
    background-color: $background-color;
    border-radius: rem-calc(50);
    overflow: hidden;

    .progress {
      height: 100%;
      border-radius: rem-calc(50);
      background: $gradient-color;
    }
  }
}
