.videoContainer {
  background: #dc49a6;
  background: linear-gradient(to right, #dc49a6 0%, #8746eb 100%);
  border-radius: get-radius('radius-xl');
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
  width: 100%;

  @include md {
    max-height: rem-calc(459);
    border-radius: get-radius('radius-4xl');
  }

  .videoOverlay {
    position: relative;

    .ctaBtnPlay {
      position: absolute;
      cursor: pointer;
      left: 50%;
      top: 50%;
      width: rem-calc(24);
      height: rem-calc(24);
      transform: translate(-50%, -50%);

      @include md {
        width: rem-calc(71);
        height: rem-calc(71);
      }
    }

    .thumbnail {
      display: block;
      max-width: 100%;
    }
  }

  .videoIframe {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.05);
    border-radius: get-radius('radius-xl');

    @include md {
      border-radius: get-radius('radius-4xl');
    }
  }
}
